{% extends 'index.html' %}

{% block body %}
    <div class="card h-100 mt-2">
        <div class="card-header">
            Tuotteen tiedot
        </div>
        <div class="card-body">
            <h5 class="card-title">{{product.name}}<h5>
            <p class="card-text"><small class="text-muted">Hinta: {{product.price}} €</small></p>
            <p class="card-text"><small class="text-muted">Kpl jäljellä: {{product.quantity}}</small></p>
            <div>
                {% for category in product.categories %}
                    {% if not category.name == None %}
                        <span style="font-size: 0.75rem" class="badge badge-pill badge-primary">{{ category.name }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <form class="mt-3" action="{{url_for('product_purchase', id = product.id)}}" method="POST">
                <button class="btn btn-info" {% if product.quantity < 1 or product.user_id == current_user.id %}disabled{% endif %}>Osta</button>
            </form>
        </div>
        <div class="card-footer">
            <small class="text-muted">Julkaistu: {{product.created_at.strftime('%d/%m/%Y')}}</small>
            <br />
            <small class="text-muted">Myyjä: {{product.user.username}}</small>
        </div>
    </div>
{% endblock %}