{% extends "index.html" %}

{% block body %}
    <form action="{{url_for('product_create')}}" method="POST">
        <div>
            <label for="productName">Name:</label>
            <input id="productName" name="name" type="text" />
        </div>
        <div>
            <label for="productPrice">Price:</label>
            <input id="productPrice" name="price" type="number">
        </div>
        <div>
            <label for="productQuantity">Quantity:</label>
            <input id="productQuantity" name="quantity" type="number">
        </div>
        <button type="submit">Create</button>
    </form>
{% endblock %}