{% extends "index.html" %}

{% block body %}
<form class="p-4 card mt-3">
    <h2>Luo tili</h2>
    <fieldset>
        <div class="form-group">
            <label for="registerUsername">Käyttäjätunnus</label>
            <input required type="text" name="username" class="form-control" id="registerUsername" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="registerEmail">Sähköposti</label>
            <input required type="email" name="email" class="form-control" id="registerEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="registerFirstName">Etunimi</label>
            <input required type="text" name="first_name" class="form-control" id="registerFirstName" placeholder="Maija">
        </div>
        <div class="form-group">
            <label for="registerLastName">Sukunimi</label>
            <input required type="text" name="last_name" class="form-control" id="registerLastName" placeholder="Meikäläinen">
        </div>
        <div class="form-group">
            <label for="registerPassword">Salasana</label>
            <input required type="password" name="password" class="form-control" id="registerPassword" placeholder="****">
        </div>
        <div class="form-group">
            <label for="registerPasswordAgain">Salasana uudelleen</label>
            <input required type="password" name="password_again" class="form-control" id="registerPasswordAgain" placeholder="****">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Lähetä</button>
            <button class="btn btn-secondary" type="reset">Tyhjennä</button>
        </div>
    </fieldset>
</form>
{% endblock %}