<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webi Shoppi</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function checkAll(element) {
        const checkboxes = document.getElementsByClassName("custom-control-input");

        function toggle(bool) {
          for (let i = 0; i < checkboxes.length; i++) {
            let curr = checkboxes[i];
            if (curr.type === "checkbox" && curr.value !== "-1") {
              curr.checked = bool;
            }
            if (curr.value === "-1" && curr.type === "checkbox" && curr.checked === true && bool) curr.checked = false
          }
        }

        if (element.checked) toggle(true);
        else toggle(false);
      }
    </script>
  </head>
  <body>
    {% if session_error %}
      <div class="alert alert-danger fixed-top" role="alert">
        {{ session_error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% elif session_success %}
      <div class="alert alert-success fixed-top" role="alert">
        {{ session_success }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('index')}}">Webi-Shoppi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Etusivu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('product_list')}}">Tuotteet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('search_list')}}">Haku</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text badge badge-secondary">
                Kirj. <a href="{{url_for('user_private_profile', username = current_user.username)}}">{{ current_user.username }}</a> |
              </span>
              <a class="nav-link d-inline pl-0" href="{{url_for('authentication_logout')}}">(Kirjaudu ulos)</a>
            </li>
          {% else %}
            <li class="nav-item dropdown dropleft">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kirjaudu
              </a>
              <form class="dropdown-menu dropdown-menu-right px-4 py-3" method="POST" action="{{url_for('authentication_login')}}">
                <div class="form-group">
                  {{ login_form.username.label(for='loginUsername') }}
                  {{ login_form.username(class_='form-control', placeholder='Username', id='loginUsername') }}
                </div>
                <div class="form-group">
                  {{ login_form.password.label(for='loginPassword') }}
                  {{ login_form.password(class_='form-control', placeholder='****', id='loginPassword') }}
                </div>
                {{ login_form.view_data_field(value=_view_data) }}
                <button type="submit" class="btn btn-primary">Kirjaudu</button>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{url_for('authentication_register_form')}}">Luo tunnus</a>
              </form>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body %}
      <h1 class="mt-2">Webi-Shoppi</h1>
      <p class="lead">
        Webi-Shoppi on kevyt, yksinkertainen ja helppokäyttöinen nettikauppa
      </p>
      {% endblock %}
    </div>
  </body>
  <script>
        const password_form_open = {% if password_form_open == True %}true{% else %} false {% endif %};

        if (password_form_open) {
          $("#passwordChangeDialog").modal("show");
        }


        $("#deleteAccount").one("submit", function(event) {
          event.preventDefault();
          const yes = confirm("Haluatko varmasti poistaa tilisi?");

          if (yes) {
            $(this).submit();
          }
        });
  </script>
</html>
