{% extends "index.html" %}

{% block body %}
<div class="row">
    <form class="p-4 col-md-8 card mx-auto mt-3" action="{{url_for('user_product_publish', username = current_user.username)}}" method="POST">
        <h2>Ilmoitus</h2>
        <fieldset>
            <div class="form-group">
                {{ product_form.name.label(for='productName') }}
                {{ product_form.name(class_='form-control is-invalid' if product_form.name.errors | length > 0 else 'form-control', id='productName', placeholder='Helkama Jopo') }}
                {% for error in product_form.name.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ product_form.price.label(for='productPrice') }}
                {{ product_form.price(class_='form-control is-invalid' if product_form.price.errors | length > 0 else 'form-control', id='productPrice', placeholder='150') }}
                {% for error in product_form.price.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ product_form.quantity.label(for='productQuantity') }}
                {{ product_form.quantity(class_='form-control', id='productQuantity', placeholder='1') }}
            </div>
            <button class="btn btn-primary" type="submit">Julkaise ilmoitus</button>
        </fieldset>
    </form>
</div>
{% endblock %}
