{% extends "index.html" %}

{% block body %}
<h2 class="mt-2">Omat ilmoitukset</h2>
    <div class="row pt-2 row-cols-3">
        {% for product in products %}
            <div class="col-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}<h5>
                        <p class="card-text"><small class="text-muted">Hinta: {{product.price}} €</small></p>
                        <p class="card-text"><small class="text-muted">Kpl jäljellä: {{product.quantity}}</small></p>
                        <a class="btn btn-info" href="{{url_for('user_product_view', username = current_user.username, id = product.id)}}">Muokkaa</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Julkaistu: {{product.created_at.strftime('%d %m %Y')}}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
